.spot
div.login-text
  
  h2 Login
    .light Login
  h3 By logging in you agree to the ridiculously long trems that you didn't bother to read
  
.form
  form.login-form
    .input-container
      input(type='text' id='Email' required)
      label(for='Email') Email
      .slide
    .input-container
      input(type='password' id='Password' required)
      label(for='Email') Password
      .slide
    button(type="submit") Submit
    .footer
      a(href='#') Forgot your password?

  
  
    
  